/*styling needs to be improved */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {

    overflow: hidden;
}
.clock {

    width: 300px;
    height: 300px;
    margin: 100px auto;
    border: solid 4px black;
    border-radius: 50%;
    position: relative;    
}

.clock::after {

    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    z-index: 11;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.clock .hand {

    --hand-rotate : 0;
    position: absolute;
    background-color: black;
    width: 2px;
    height: 40%;
    transform: translateX(-50%) rotate(calc(var(--hand-rotate)* 1deg));
    transform-origin: bottom;
    z-index: 9;
    left: 50%;
    bottom: 50%;
}
.clock .second {

    width: 1px;
    background-color: blue;
    height: 45%;
    z-index: 10;
    --hand-rotate: 30;

}
.clock .minute {

    width: 4px;
    height: 35%;

}
.time {

    border: 2px solid black;
    margin: 30px auto;
    width: 300px;
    padding: 20px;
    display: none;
}
.clock:hover + .time {

    display: inherit;
}
.clock .num {

    --rotation : 0deg;
    position : absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));

}
.clock .num1 {

    --rotation : 30deg;
}
.clock .num2 {

    --rotation: 60deg;
}
.clock .num3 {

    --rotation: 90deg;
}
.clock .num4 {

    --rotation: 120deg;
}
.clock .num5 {

    --rotation: 150deg;
}
.clock .num6 {

    --rotation: 180deg;
}
.clock .num7 {

    --rotation: 210deg;
}
.clock .num8 {

    --rotation: 240deg;
}
.clock .num9 {

    --rotation: 270deg;
}
.clock .num10 {

    --rotation: 300deg;
}
.clock .num11 {

    --rotation: 330deg;
}